<h1><strong>- -CME Minyan @ 1:35- -</strong></h1>
<%= form_tag "/committed", method: :patch do %>
  <select name="id">
    <% @people.each do |person| %>
      <option name="id" value="<%= person.id %>"><%= person.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Commit">
<% end %>


