<h1><strong>- -CME Minyan @ 1:35- -</strong></h1>
<select>
  <% @people.each do |person| %>
    <option value="<%= person.id %>"><%= person.name %></option>
  <% end %>
</select>
<input type="submit" value="Commit" onclick="updateAttending()">


<script src="text/javasript">
  function updateAttending() {
    var attending = $(true)
  }
  $.ajax({
      method: "PATCH",
      url: "/commited",
</script>